NEXT_PUBLIC_BACKEND_URL='http://localhost:5272/'
JWT_SECRET="0yWqXf87FN3E26134S1575irUOmihSLZ"

BANK_LOOKUP_API_KEY="9ebfddbe-78c7-4bdd-a765-12a0e860c3f9key"
BANK_LOOKUP_SECRET="c220982d-3f1d-4297-aa04-18795048313dsecret"


UPLOADTHING_TOKEN="some-secret"

CLOUDINARY_CLOUD_NAME="dtsszgatv"
CLOUDINARY_API_KEY="443458966883695"
CLOUDINARY_API_SECRET="uL5cZ2s2Dry6MLIu1X-RsH-DMyo"